
.body-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}

#body-text{
    color:#D0D6F9;
    grid-column: 2/6;
    grid-row: 3/6;
}

#space-top-text{
    word-spacing: 4.75px;
    font-size:28px;
}

#space-text{
    font-size:150px;
}

#space-body-text{
    line-height: 2.25;
    font-size:18px;
}
#explore-button{
    font-size:32px;
    cursor: pointer;
    border: none;
    background-color:transparent;
    color: #FFFFFF;
    grid-column: 9/11;
    grid-row: 5/6;
}