.body-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

#body-text {
  color: white;
  grid-column: 2/6;
  grid-row: 4/6;
}

#space-top-text {
  word-spacing: 3px;
  font-size: 28px;
}

#space-text {
  font-size: 150px;
}

#space-body-text {
  line-height: 2.25;
  font-size: 18px;
}
#explore-button {
  font-size: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  grid-column: 9/11;
  grid-row: 5/6;
}
