body{
    background-image: url('./background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.home-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}


.home-body{
    grid-column: 1/12;
    grid-row:1/11;
}